.c__sky-blue {
    color: #b1d2ef;
}

.c__light-blue {
    color: #b9dcfa;
}

.c__blue {
    color: #1f8ceb;
}

.c__dark-blue {
    color: #2e2e7f;
}

.c__grey {
    color: #637280;
}

.c__light-grey {
    color: #8da2b5;
}

.c__dark-grey {
    color: #344358;
}

.c__red {
    color: #e04e50;
}

.c__white {
    color: #fff;
}

.c__hazy-grey {
    color: #556474;
}

.c__light-fog {
    color: #96a2b0;
}

.c__gray-mist {
    color: #f9fafb;
}

.c__mon-jeans {
    color: #f6fafd;
}

.c__light-green {
    color: #0ff2bc;
}

.c__dad-jeans {
    color: #051666;
}

.c__bright-blue {
    color: #001ce8;
}

.c__cs2-blue {
    color: #35cfff;
}
