#page-container {
    padding-top: 60px !important;
}


// Navigation styling
#et-top-navigation {
    font-weight: 400;
}

#top-menu li li a {
    padding: 0 20px;
}

// @media (max-width: 980px) {
//     .et_non_fixed_nav.et_transparent_nav #main-header, .et_non_fixed_nav.et_transparent_nav #top-header, .et_fixed_nav #main-header, .et_fixed_nav #top-header {
//         height: 60px;
//         position: fixed;
//     }
//
//     .mobile_menu_bar:before {
//         top: -17px;
//     }
// }

#main-header .et_mobile_menu .menu-item-has-children > a { background-color: transparent; position: relative; }
#main-header .et_mobile_menu .menu-item-has-children > a:after { font-family: 'ETmodules'; text-align: center; speak: none; font-weight: normal; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; position: absolute; }
#main-header .et_mobile_menu .menu-item-has-children > a:after { font-size: 16px; content: '\4c'; top: 13px; right: 10px; }
#main-header .et_mobile_menu .menu-item-has-children.visible > a:after { content: '\4d'; }
#main-header .et_mobile_menu ul.sub-menu { display: none !important; visibility: hidden !important;  transition: all 1.5s ease-in-out;}
#main-header .et_mobile_menu .visible > ul.sub-menu { display: block !important; visibility: visible !important; }


.menu-item a:hover {
    cursor: pointer;
}

.sub-menu {
    border: 1px solid #dde5ed !important;
}

.et_pb_row {
    width: 100%;
    padding: 0 !important;
}

// for background absolute
.et_pb_row--extend {
    max-width: 3000px !important;
    width: 100%;
}

.et_pb_row_2 {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    padding-top: 10px;
    padding-bottom: 0px;
}
