.center {
    display: flex;
    align-items: center;

    @include mq($from: wide) {
        &--xlg {
            display: flex;
            align-items: center;
        }
    }

    @include mq($from: tablet, $until: desktop) {
        &--lg {
            display: flex;
            align-items: center;
        }
    }

    @include mq($from: mobile, $until: tablet) {
        &--md {
            display: flex;
            align-items: center;
        }
    }

    @include mq($until: mobile) {
        &--sm {
            display: flex;
            align-items: center;
        }
    }

    &__hcenter {
        display: flex;
        align-items: center;
        justify-content: center;
        @include mq($until: mobile) {
            &--sm {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        @include mq($from: mobile, $until: tablet) {
            &--md {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        @include mq($from: tablet, $until: desktop) {
            &--lg {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        @include mq($from: wide) {
            &--xlg {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
