.bg {
    &__sky-blue {
        background-color: $sky-blue;
    }

    &__light-blue {
        background-color: $light-blue;
    }

    &__blue {
        background-color: $blue;
    }

    &__dark-blue {
        background-color: $dark-blue;
    }

    &__grey {
        background-color: $grey;
    }

    &__light-grey {
        background-color: $light-grey;
    }

    &__dark-grey {
        background-color: $dark-grey;
    }

    &__red {
        background-color: $red;
    }

    &__white {
        background-color: $white;
    }

    &__hazy-grey {
        background-color: $hazy-grey;
    }

    &__light-fog {
        background-color: $light-grey;
    }

    &__gray-mist {
        background-color: $gray-mist;
    }

    &__mom-jeans {
        background-color: $mom-jeans;
    }
}
