.bg__sky-blue {
    background-color: #b1d2ef
}

.bg__light-blue {
    background-color: #b9dcfa
}

.bg__blue {
    background-color: #1f8ceb
}

.bg__dark-blue {
    background-color: #2e2e7f
}

.bg__grey {
    background-color: #637280
}

.bg__light-grey {
    background-color: #8da2b5
}

.bg__dark-grey {
    background-color: #344358
}

.bg__red {
    background-color: #e04e50
}

.bg__white {
    background-color: #fff
}

.bg__hazy-grey {
    background-color: #556474
}

.bg__light-fog {
    background-color: #96a2b0
}

.bg__gray-mist {
    background-color: #f9fafb
}

.bg__mom-jeans {
    background-color: #f6fafd
}
