.bg {
    &__sky-blue {
        background-color: #b1d2ef;
    }

    &__light-blue {
        background-color: #b9dcfa;
    }

    &__blue {
        background-color: #1f8ceb;
    }

    &__dark-blue {
        background-color: #2e2e7f;
    }

    &__grey {
        background-color: #637280;
    }

    &__light-grey {
        background-color: #8da2b5;
    }

    &__dark-grey {
        background-color: #344358;
    }

    &__red {
        background-color: #e04e50;
    }

    &__white {
        background-color: #fff;
    }

    &__hazy-grey {
        background-color: #556474;
    }

    &__light-fog {
        background-color: #96a2b0;
    }

    &__gray-mist {
        background-color: #f9fafb;
    }

    &__mom-jeans {
        background-color: #f6fafd;
    }
}
