.container {
    &__legacy {
        max-width: 1364px;
    }

    &__space {
        padding-left: 40px;
        padding-right: 40px;
        @include mq($until: desktop) {
            &__space {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    &__microsite {
        margin-left: auto;
        margin-right: auto;
        padding: 0 60px;
        max-width: 1300px;
        width: 100%;
        position: static;
        @include mq($until: desktop) {
            &__microsite {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    &__narrow {
        max-width: 1200px;
    }
}
