// Main content containers
// 1. Make the container full-width with a maximum width
// 2. Center it in the viewport
// 3. Leave some space on the edges, especially valuable on small screens
.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    padding-left: 15px !important;
    padding-right: 15px !important;
    max-width: 1404px !important;
    width: 100% !important;

    &__legacy {
        max-width: 1374px;
    }

    &__space {
        padding-left: 40px;
        padding-right: 40px;

        @include mq($until: desktop) {
            &__space {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    &__microsite {
        margin-left: auto;
        margin-right: auto;
        padding: 0 60px;
        max-width: 1300px;
        width: 100%;
        position: static;
        @include mq($until: desktop) {
            &__microsite {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

.narrow {
    max-width: 1200px !important;
}
