// Main content containers
// 1. Make the container full-width with a maximum width
// 2. Center it in the viewport
// 3. Leave some space on the edges, especially valuable on small screens
.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    padding-left: 15px !important;
    padding-right: 15px !important;
    max-width: 1404px !important;
    width: 100% !important;
}

.narrow {
    max-width: 1200px !important;

    &__small {
        max-width: 1000px !important;
    }

    &__profile {
        @include mq($from: tablet, $until: desktop) {
            padding-left: 40px !important;
            padding-right: 40px !important;
        }
    }
}