.cta {
    position: relative;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    padding: 48px 50px;
    max-width: 875px;
    border: 1px solid $lightsky-blue;
    border-radius: 6px;
    background: white;
    text-align: center;

    &__slim {
        padding: 25px 15px 15px;
    }

    &__wrapper {
        margin: 0 auto;
        padding: 30px 75px;
        max-width: 670px;

        &-box {
            padding: 30px;
            border: 1px solid $lightsky-blue;
            background-color: #fff;
            box-shadow: 0 2px 1px #e6e5e5;
        }

        @include mq($until: tablet) {
            padding: 0 15px;

            &-box {
                padding: 20px;
            }
        }
    }

    &__form {
        margin: 28px auto;
        max-width: 470px;

        &:after,
        &:before {
            display: table;
            content: ' ';
        }

        &:after {
            clear: both;
        }

        &.error {
            animation: shake 0.5s;
        }

        &-small {
            margin: 15px 0;
            width: 280px;
            font-size: 14px;

            .cta__email {
                width: 55%;
            }
        }

        &-small-flex {
            margin: 15px 0;
            font-size: 14px;

            .cta__email {
                width: 55%;
            }
        }
    }

    &__with {
        &-extra {
            position: relative;
            padding-right: 190px;
            max-width: 670px;
        }
    }

    &__extra {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__headline {
        &-text-after {
            margin-bottom: 0;
            @include mq($until: mobile) {
                margin-bottom: 5px;
            }
        }
    }

    &__subtitle {
        margin-top: -10px;
    }

    &__up {
        margin: 0 auto 28px;
        color: $light-grey;
        font-weight: 400;
        font-size: 12px;
    }

    &__email {
        float: left;
        width: 60% !important;
        border-right-width: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    &__submit {
        float: left;
        padding-right: 0 !important;
        padding-left: 0 !important;
        width: 40% !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    &__desc-item {
        padding: 0 5px;
        color: $light-grey;
        font-weight: 400;
        font-size: 12px;

        &::before {
            position: relative;
            left: -6px;
            content: '•';
        }

        &:first-child {
            padding-left: 0;

            &:before {
                content: '';
            }
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &__hr {
        margin:48px 0 48px -50px;
        width: calc(100% + 100px);
        border-top: 1px solid $lightsky-blue;
    }
}

@media (max-width: 580px) {
    .cta {
        padding: 60px 20px 40px;

        &__slim {
            padding: 20px;
        }

        &__hr {
            margin-left:-20px;
            width: calc(100% + 40px);
        }

        &__form {
            .error {
                @include prefix(animation, none, webkit);
            }

            &-small .cta__email,
            &-small .cta__submit {
                width: 100%;
            }

            &-small .cta__submit {
                margin-top: 10px;
            }
        }

        &__with-extra {
            padding-right: 0;
        }

        &__extra {
            position: static;
            margin-top: 14px;
        }

        &__email,
        &__extra,
        &__submit {
            width: 100% !important;
            border-radius: 4px !important;
        }

        &__email {
            border-right-width: 1px;
            border-radius: 4px;
            text-align: center;
        }

        &__submit {
            margin-top: 14px !important;
            border-radius: 4px;
        }
    }
}
