.cta {
    background: white;
    border: 1px solid #dde5ed;
    border-radius: 6px;
    padding: 48px 50px;
    max-width: 875px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
    position: relative;

    &__slim {
        padding: 40px 40px 30px
    }

    &__form {
        max-width: 470px;
        margin: 28px auto;

        &:before, &:after {
            content: ' ';
            display: table
        }

        &:after {
            clear: both
        }

        &.error {
            @include prefix(animation, shake .5s, webkit);
        }

        &-sign-in {
            padding-right: 140px
        }

        &-small {
            margin: 0;
            font-size: 14px;
            width: 280px;

            .cta__email {
                width: 55%
            }
        }
    }

    &__with {
        &-extra {
            padding-right: 190px;
            max-width: 670px;
            position: relative
        }
    }

    &__extra {
        position: absolute;
        top: 0;
        right: 0
    }

    &__headline {
        &-text-after {
            margin-bottom: 0;

            @include mq($until: mobile) {
                margin-bottom: 5px;
            }
        }
    }

    &__subtitle {
        margin-top: -10px
    }

    &__up {
        font-size: 12px;
        font-weight: 400;
        color: $light-grey;
        margin: 0 auto 28px
    }

    &__email {
        float: left;
        width: 60%;
        border-right-width: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    &__submit {
        float: left;
        width: 40%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-left: 0;
        padding-right: 0
    }

    &__desc-item {
        color: $light-grey;
        font-size: 12px;
        padding: 0 5px;
        font-weight: 400;

        &::before {
            content: '•';
            position: relative;
            left: -6px
        }

        &:first-child {
            padding-left: 0;

            &:before {
                content: ''
            }
        }

        &:last-child {
            padding-right: 0
        }
    }

    &__hr {
        border-top: 1px solid #dde5ed;
        width: calc(100% + 100px);
        margin: 48px 0 48px -50px
    }

    &__video-combo {
        max-width: 400px;
        margin: 0 auto;

        .cta__form {
            margin: 35px auto 0
        }
    }

    &__heading-out {
        overflow: visible;

        .t__h1,
        .t__h1-bigger,
        .t__h1-big {
            font-size: 70px;
            margin-top: -100px;
            color: $grey;

            @include mq($until: desktop) {
                font-size: 60px;
                margin-top: -90px
            }

            @include mq($until: tablet) {
                font-size: 50px;
                margin-top: -80px
            }

            @include mq($until: mobile) {
                font-size: 40px;
                margin-top: -85px
            }
        }
    }
}



@media (max-width: 580px) {
    .cta {
        padding: 60px 20px 40px;

        &__slim {
            padding: 40px 20px 30px
        }

        &__hr {
            width: calc(100% + 40px);
            margin-left: -20px
        }

        &__form {
            .error {
                @include prefix(animation, none, webkit);
            }

            &-small .cta__email,
            &-small .cta__submit,
            &-sign-in-button {
                width: 100%;
            }

            &-small .cta__submit {
                margin-top: 10px
            }

            &-sign-in {
                padding-right: 0
            }
        }

        &__with-extra {
            padding-right: 0
        }

        &__extra {
            position: static;
            margin-top: 14px
        }

        &__extra,
        &__submit,
        &__email {
            width: 100%
        }

        &__email {
            border-right-width: 1px;
            border-radius: 4px;
            text-align: center
        }

        &__submit {
            border-radius: 4px;
            margin-top: 14px
        }
    }
}
