
.slider .carousell-cell {
    padding: 0.5% !important;

    @include mq($from: footerAd, $until: desktop) {
        padding: 2% 20%;
    }

    @include mq($until: slicker-sm) {
        padding: 1% !important;
    }
}


.carousell-cell {
    width: 14.3%;
    transition: transform .2s,-webkit-transform .2s;

    @include mq($until: desktop) {
        width: 15%;
    }
    @include mq($from: slicker-md, $until: slicker-lg) {
        width: 17%;
    }
    @include mq($from: slicker-sm, $until: slicker-md) {
        width: 20%;
    }
    @include mq($until: slicker-sm) {
        width: 50%;
    }

    &:hover {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.slider .carousell-cell-image {
    padding-bottom: 80%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousell-cell-image {
    margin: 0 auto 7px auto;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.slider__card {
  border: 1px solid $lightsky-blue;
  border-radius: 4px;
  background: white;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
}

.slider__card:hover {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25)
}

.slider__info {
  padding: 1% 7% 1% 7%;
}

.slider__category {
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 11px;
}

.slider__title {
  padding-bottom: 5px;
    width: 100%;
  font-weight: 400;
  font-size: 12px;

  @include mq($until: mobile) {
      width: 90px;
  }
}


@include mq($until: mobile) {
    .flickity-prev-next-button.previous,
    .flickity-prev-next-button.next {
        display: none;
    }
}


.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
