.footer {
    &__wrap {
        background-color: white;
        padding: 55px 0;
        color: $blue;
        font-size: 15px;
        overflow: hidden;
        position: relative;

        a {
            text-decoration: none
        }
    }

    &__row {
        margin: 0 -10px;

        &:before, &:after {
            content: ' ';
            display: table
        }

        &:after {
            clear: both
        }
    }

    &__links {
        width: 18%;
        float: left;
        padding: 0 10px;

        &-blog {
            width: 26%
        }
    }

    &__heading {
        margin: 0 0 15px
    }

    &__link {
        margin-top: 7px
    }

    &__addon,
    &__link {
        color: $grey;

        & a:hover {
            color: $blue
        }
    }

    &__hr {
        width: 85px;
        margin: 20px 0;
        border-top: 1px solid #DDE5ED
    }

    // Use this in case we ever add new artist categories
    // use together with the text "NYE" to raise awareness.
    &__new {
        color: #8da2b5;
        font-size: 9px;
        position: absolute;
        text-transform: uppercase;
        margin-top: -1px;
        margin-left: 5px;
        font-weight: 600;
        letter-spacing: .05em
    }

    &__secondary {
        display: block;
        margin-left: -15px;
        margin-right: -15px;

    }

    &__info {
        width: 70.4%;
    }

    &__social {
        display: flex;
        width: 26%;
    }

    @include mq($until: footerAd) {
        &__links {
            width: 33.33%;

            &-blog {
                width: 66.66%
            }

            &:nth-child(4) {
                clear: both
            }

            &:nth-child(n+4) {
                margin-top: 40px
            }
        }
    }

    @include mq($until: tablet) {
        &__wrap {
            padding-bottom: 50px
        }
    }

    @include mq($until: mobile) {
        &__wrap {
            font-size: 14px
        }

        &__links {
            width: 50%;

            &-blog {
                display: none
            }

            &:nth-child(3) {
                clear: both
            }

            &:nth-child(4) {
                clear: none
            }

            &:nth-child(n+3) {
                margin-top: 40px
            }
        }
    }
}
