.hero {
    padding-top: 145px;

    @include mq($until: tablet) {
        padding-top: 120px;
    }

    &__close {
        padding-top: 80px
    }

    &__headline {
        max-width: 380px;
        margin-bottom: 0
    }

    &__h3 {
        max-width: 650px;
        margin-top: 0;
        margin-bottom: 0
    }
}
