.nav {
    position: absolute;
    @include prefix(transform, translate3d(0,0,0), webkit);
    z-index: 100;
    left: 0;
    right: 0;
    line-height: 1.4;

    .container {
        padding: 0;
    }

    &__padding {
        padding-left: 15px;
        padding-right: 15px;
    }

    &__primary {
        position: absolute;
    }

    &__simple {
        z-index: 98;
    }

    &__fixed,
    &__primary {
        position: fixed;
        top: 0;
    }

    &__top {
        padding-top: 15px;
        padding-bottom: 15px;
        height: 60px;
        position: relative;
    }

    &__bg {
        background: rgba($white, 0.98);
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    }

    &__links {
        margin: 2px 0 0 auto;
        height: 60px;
        @include flexbox;
        @include align-items(center);
        @media (min-width: 1150px) {
            &-links {
                padding-left: 100px;
            }
        }

        &-center {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__link {
        font-size: 15px;
        display: inline-block;
        text-decoration: none;
        margin-right: 40px;
        position: relative;
        height: 21px;

        &.active,
        &:hover {
            color: $blue;
        }

        &-arrow {
            display: none;
        }

        &-arrow:after,
        &-arrow:before {
            content: ' ';
            display: block;
            position: absolute;
            bottom: -20px;
            z-index: 2;
            left: 50%;
            @include prefix(transform, translate(-50%, 0), webkit);
        }

        &-arrow:before {
            border: 10px transparent solid;
            border-bottom-color: #e6e6e6;
        }

        &-arrow:after {
            border: 8px transparent solid;
            border-bottom-color: white;
        }
    }

    &__hamburger {
        display: none;
        margin-left: auto;
        height: 30px;
        width: 25px;
        position: relative;

        .link__hamburger {
            position: absolute;
            margin-top: 15px;
        }

        .nav__link-arrow:after,
        .nav__link-arrow:before {
            bottom: -16px;
        }
    }

    &__product {
        &-icon {
            height: 25px;
            padding-left: 6px;
            @include flexbox;
            @include align-items(center);
        }

        svg {
            width: 25px;
            height: 24px;
        }

        &-icon-join {
            padding: 0 5px;
        }

        &-icon-space {
            padding-left: 15px;
        }

        &-icon-label {
            color: $dark-blue;
            font-size: 14px;
            padding: 2px 0 0 6px;
        }
    }
}
