.section .section__no-scale {
    padding: 60px 0
}

.section {
    @include mq($until: desktop) {
        padding: 55px 0
    }
    @include mq($until: tablet) {
        padding: 40px 0
    }
    @include mq($until: mobile) {
        padding: 30px 0
    }

    &__larger {
        padding: 80px 0;

        @include mq($until: desktop) {
            padding: 70px 0
        }
        @include mq($until: tablet) {
            padding: 55px 0
        }
        @include mq($until: mobile) {
            padding: 45px 0
        }
    }

    &__large {
        padding: 115px 0;

        @include mq($until: desktop) {
            padding: 90px 0
        }
        @include mq($until: tablet) {
            padding: 70px 0
        }
    }

    &__xlarge {
        padding: 150px 0;

        @include mq($until: desktop) {
            padding: 120px 0
        }
        @include mq($until: tablet) {
            padding: 100px 0
        }
    }

    &__top {
        padding-top: 0
    }

    &__bottom {
        padding-bottom: 0
    }

    &__last-item {
        margin-bottom: 0 !important
    }
}
