// -----------------------------------------------------------------------------
// This file contains all application-wide typography styling and manipulation.
//
// 1. text-align: center, right, left, auto
// 2. display/hide text-decoration and styling
// 3. font-weight, no-wrap, quote, shrink, hover
// -----------------------------------------------------------------------------

// Text-align: center, right, left, auto
.f {
    &__center {
        text-align: center;

        @include mq($until: mobile) {
            &--sm {
                text-align: center !important
            }
        }
        @include mq($from: mobile, $until: tablet) {
            &--md {
                text-align: center !important
            }
        }
        @include mq($from: tablet, $until: desktop) {
            &--lg {
                text-align: center !important
            }
        }
        @include mq($from: wide) {
            &--xlg {
                text-align: center !important
            }
        }
    }

    &__right {
        text-align: right;

        @include mq($until: mobile) {
            &--sm {
                text-align: right !important
            }
        }
        @include mq($from: mobile, $until: tablet) {
            &--md {
                text-align: right !important
            }
        }
        @include mq($from: tablet, $until: desktop) {
            &--lg {
                text-align: right !important
            }
        }
        @include mq($from: wide) {
            &--xlg {
                text-align: right !important
            }
        }
    }

    &__left {
        text-align: left;

        @include mq($until: mobile) {
            &--sm {
                text-align: left !important
            }
        }
        @include mq($from: mobile, $until: tablet) {
            &--md {
                text-align: left !important
            }
        }
        @include mq($from: tablet, $until: desktop) {
            &--lg {
                text-align: left !important
            }
        }
        @include mq($from: wide) {
            &--xlg {
                text-align: left !important
            }
        }
    }

    &__auto {
        margin: 0 auto;
    }
}


// Display/hide text-decoration and styling
.f {
    &__up {
        text-transform: uppercase;
        letter-spacing: .1em
    }

    &__und {
        text-decoration: underline;

        &:hover {
            text-decoration: none
        }
    }

    &__no-und-always, &__no-und {
        text-decoration: none
    }

    &__no-und {
        &:hover {
            text-decoration: none;
        }
    }
}


// Font-weight, no-wrap, quote, shrink, hover
.f {
    &__light {
        font-weight: 300
    }

    &__regular {
        font-weight: 400
    }

    &__bold {
        font-weight: 500
    }

    &__lower {
        text-transform: lowercase
    }

    &__no-wrap {
        white-space: nowrap;

        @include mq($until: mobile) {
            &--sm {
                white-space: nowrap !important
            }
        }
        @include mq($from: mobile, $until: tablet) {
            &--md {
                white-space: nowrap !important
            }
        }
        @include mq($from: tablet, $until: desktop) {
            &--lg {
                white-space: nowrap !important
            }
        }
        @include mq($from: wide) {
            &--xlg {
                white-space: nowrap !important
            }
        }
    }

    &__quote {
        position: relative;

        &:before {
            position: absolute;
            left: -9px
            content: '“';
        }

        &:after {
            position: absolute;
            margin-left: 2px
            content: '”';
        }
    }

    &__shrink {
        line-height: 1
    }

    &__hover {
        cursor: pointer
    }
}
