.u {
    &__inline-block {
        display: inline-block;

        @include mq($until: mobile) {
            &--sm {
                display: inline-block;
            }
        }
        @include mq($from: mobile, $until: tablet) {
            &--md {
                display: inline-block;
            }
        }
        @include mq($from: tablet, $until: desktop) {
            &--lg {
                display: inline-block;
            }
        }
        @include mq($from: wide) {
            &--xlg {
                display: inline-block;
            }
        }
    }
}


.u {
    &__block {
        display: block;

        @include mq($until: mobile) {
            &--sm {
                display: block;
            }
        }
        @include mq($from: mobile, $until: tablet) {
            &--md {
                display: block;
            }
        }
        @include mq($from: tablet, $until: desktop) {
            &--lg {
                display: block;
            }
        }
        @include mq($from: wide) {
            &--xlg {
                display: block;
            }
        }
    }
}
