.u {
    &__cf {
        &:before, &:after {
            content: ' ';
            display: table;
        }

        &:after {
            clear: both;
        }

        @include mq($until: mobile) {
            &--sm:before, &--sm:after {
                content: ' ';
                display: table
            }
            &--sm:after {
                clear: both;
            }
        }
        @include mq($from: mobile, $until: tablet) {
            &--md:before, &--md:after {
                content: ' ';
                display: table
            }
            &--md:after {
                clear: both;
            }
        }
        @include mq($from: tablet, $until: desktop) {
            &--lg:before, &--lg:after {
                content: ' ';
                display: table
            }
            &--lg:after {
                clear: both;
            }
        }
        @include mq($from: wide) {
            &--xlg:before, &--xlg:after {
                content: ' ';
                display: table
            }
            &--xlg:after {
                clear: both;
            }
        }
    }
}


.u {
    &__clear {
        clear: both;

        @include mq($until: mobile) {
            &--sm {
                clear: both
            }
        }
        @include mq($from: mobile, $until: tablet) {
            &--md {
                clear: both
            }
        }
        @include mq($from: tablet, $until: desktop) {
            &--lg {
                clear: both
            }
        }
        @include mq($from: wide) {
            &--xlg {
                clear: both
            }
        }
    }
}
