.u {
    &__fading {
        &-out, &-in {
            @include prefix(transition, opacity .2s linear, webkit);
        }

        &-out {
            opacity: 0;
        }

        &-in {
            opacity: 1
        }
    }

    &__circle {
        border-radius: 50%
    }

    &__zfix {
        position: relative;
        z-index: 2
    }

    &__clear-last>*:last-child {
        margin-right: 0 !important
    }
}
