.u__left {
    float: left
}

@media (max-width: 480px) {
    .u__left--sm {
        float: left
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .u__left--md {
        float: left
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .u__left--lg {
        float: left
    }
}

@media (min-width: 1025px) {
    .u__left--xlg {
        float: left
    }
}

.u__right {
    float: right
}

@media (max-width: 480px) {
    .u__right--sm {
        float: right
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .u__right--md {
        float: right
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .u__right--lg {
        float: right
    }
}

@media (min-width: 1025px) {
    .u__right--xlg {
        float: right
    }
}
