.u {
    &__left {
        float: left;

        @include mq($until: mobile) {
            &--sm {
                float: left;
            }
        }
        @include mq($from: mobile, $until: tablet) {
            &--md {
                float: left;
            }
        }
        @include mq($from: tablet, $until: desktop) {
            &--lg {
                float: left;
            }
        }
        @include mq($from: wide) {
            &--xlg {
                float: left;
            }
        }
    }

    &__right {
        float: right;

        @include mq($until: mobile) {
            &--sm {
                float: right;
            }
        }
        @include mq($from: mobile, $until: tablet) {
            &--md {
                float: right;
            }
        }
        @include mq($from: tablet, $until: desktop) {
            &--lg {
                float: right;
            }
        }
        @include mq($from: wide) {
            &--xlg {
                float: right;
            }
        }
    }
}
