.u__o-hidden {
    overflow: hidden
}

@media (max-width: 480px) {
    .u__o-hidden--sm {
        overflow: hidden
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .u__o-hidden--md {
        overflow: hidden
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .u__o-hidden--lg {
        overflow: hidden
    }
}

@media (min-width: 1025px) {
    .u__o-hidden--xlg {
        overflow: hidden
    }
}
