.u {
    &__o-hidden {
        overflow: hidden;

        @include mq($until: mobile) {
            &--sm {
                overflow: hidden
            }
        }
        @include mq($from: mobile, $until: tablet) {
            &--md {
                overflow: hidden
            }
        }
        @include mq($from: tablet, $until: desktop) {
            &--lg {
                overflow: hidden
            }
        }
        @include mq($from: wide) {
            &--xlg {
                overflow: hidden
            }
        }
    }
}
