.u {
    &__relative {
        position: relative;
    }

    &__static {
        position: static
    }

    &__absolute {
        position: absolute;

        &-center {
            left: 0;
            right: 0
        }
    }
}
