.u {
    &__reset {
        margin: 0;
        padding: 0;
        list-style: none;

        @include mq($until: mobile) {
            &--sm {
                margin: 0;
                padding: 0;
                list-style: none
            }
        }
        @include mq($from: mobile, $until: tablet) {
            &--md {
                margin: 0;
                padding: 0;
                list-style: none
            }
        }
        @include mq($from: tablet, $until: desktop) {
            &--lg {
                margin: 0;
                padding: 0;
                list-style: none
            }
        }
        @include mq($from: wide) {
            &--xlg {
                margin: 0;
                padding: 0;
                list-style: none
            }
        }

        &-bottom {
            margin-bottom: 0;
            padding-bottom: 0
        }
    }
}
