.u {
    &__hidden {
        display: none !important;

        @include mq($until: mobile) {
            &--sm {
                display: none !important
            }
        }
        @include mq($from: mobile, $until: tablet) {
            &--md {
                display: none !important
            }
        }
        @include mq($from: tablet, $until: desktop) {
            &--lg {
                display: none !important
            }
        }
        @include mq($from: wide) {
            &--xlg {
                display: none !important
            }
        }
    }

    &__visible {
        display: block !important;
        opacity: 1 !important;

        @include mq($until: mobile) {
            &--sm {
                display: block !important;
                opacity: 1 !important
            }
        }
        @include mq($from: mobile, $until: tablet) {
            &--md {
                display: block !important;
                opacity: 1 !important
            }
        }
        @include mq($from: tablet, $until: desktop) {
            &--lg {
                display: block !important;
                opacity: 1 !important
            }
        }
        @include mq($from: wide) {
            &--xlg {
                display: block !important;
                opacity: 1 !important
            }
        }
    }

    &__invisible {
        visibility: hidden
    }

    &__hide {
        display: none
    }
}
