// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
    color: #222;
    font-size: mq-px2em($mq-base-font-size);
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}
/**
 * Set up a decent box model on the root element
 */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
    -ms-overflow-x: hidden;
}
/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
html *,
html *:after,
html *:before {
    box-sizing: inherit;
}

body {
    font-family: "Akkurat Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: mq-px2em($mq-base-font-size);
    line-height: 1.6;
    color: $grey;
    font-weight: 400;
    background: white;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

img,
svg {
    max-width: 100%;
}

.svg {
    height: auto;
}

.video {
    max-width: 100%;
}

img[src*="assets/blank"] {
    height: 1px;
}
/**
 * Basic styles for links
 */
a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}
