
.c {

    // `Blue Tones`
    // ==========================================================================
    &__bright-blue {
        color: $bright-blue;
    }
    &__dark-blue {
        color: $dark-blue;

        @include max-screen(480px) {
            &--sm {
                color: $dark-blue;
            }
        }
        @include screen(481px, 767px) {
            &--md {
                color: $dark-blue;
            }
        }
        @include ipad {
            &--lg {
                color: $dark-blue;
            }
        }
        @include min-screen(1025px) {
            &--xlg {
                color: $dark-blue;
            }
        }
    }
    &__blue {
        color: $blue;

        @include max-screen(480px) {
            &--sm {
                color: $blue;
            }
        }
        @include screen(481px, 767px) {
            &--md {
                color: $blue;
            }
        }
        @include ipad {
            &--lg {
                color: $blue;
            }
        }
        @media (min-width: 1025px) {
            &--xlg {
                color: $blue;
            }
        }
    }
    &__cs2-blue {
        color: $cs2-blue;
    }
    &__sky-blue {
        color: $sky-blue;
    }
    &__light-blue {
        color: $light-blue;
    }


    // `Grey Tones`
    // ==========================================================================
    &__dark-grey {
        color: $dark-grey;
    }
    &__hazy-grey {
        color: $hazy-grey;
    }
    &__grey {
        color: $grey;
    }
    &__light-fog {
        color: $light-fog;
    }
    &__light-grey {
        color: $light-grey;
    }
    &__gray-mist {
        color: $gray-mist;
    }


    // `White Tones`
    // ==========================================================================
    &__mom-jeans {
        color: $mom-jeans;
    }
    &__white {
        color: $white;
    }


    // `White Tones`
    // ==========================================================================
    &__red {
        color: $red;
    }
    &__purple {
        color: $purple;

        @media (max-width: 480px) {
            &--sm {
                color: $purple;
            }
        }
        @include screen(481px, 767px) {
            &--md {
                color: $purple;
            }
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            &--lg {
                color: $purple;
            }
        }
        @media (min-width: 1025px) {
            &--xlg {
                color: $purple;
            }
        }
    }
    &__light-green {
        color: $light-green;
    }
}
