.c__sky-blue {
    color: #b1d2ef;
}

.c__light-blue {
    color: #b9dcfa;
}

.c__blue {
    color: #1f8ceb;
}

.c__dark-blue {
    color: #2e2e7f;
}

.c__grey {
    color: #637280;
}

.c__light-grey {
    color: #8da2b5;
}

.c__dark-grey {
    color: #344358;
}

.c__red {
    color: #e04e50;
}

.c__white {
    color: #fff;
}

.c__hazy-grey {
    color: #556474;
}

.c__light-fog {
    color: #96a2b0;
}

.c__gray-mist {
    color: #f9fafb;
}

.c__mon-jeans {
    color: #f6fafd;
}

.c__light-green {
    color: #0ff2bc;
}

.c__dad-jeans {
    color: #051666;
}

.c__bright-blue {
    color: #001ce8;
}

.c__cs2-blue {
    color: #35cfff;
}


@media (max-width: 480px) {
    .c__dad-jeans--sm {
        color: #051666
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .c__dad-jeans--md {
        color: #051666
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .c__dad-jeans--lg {
        color: #051666
    }
}

@media (min-width: 1025px) {
    .c__dad-jeans--xlg {
        color: #051666
    }
}

@media (max-width: 480px) {
    .c__blue--sm {
        color: #1f8ceb
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .c__blue--md {
        color: #1f8ceb
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .c__blue--lg {
        color: #1f8ceb
    }
}

@media (min-width: 1025px) {
    .c__blue--xlg {
        color: #1f8ceb
    }
}

@media (max-width: 480px) {
    .c__dark-blue--sm {
        color: #2e2e7f
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .c__dark-blue--md {
        color: #2e2e7f
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .c__dark-blue--lg {
        color: #2e2e7f
    }
}

@media (min-width: 1025px) {
    .c__dark-blue--xlg {
        color: #2e2e7f
    }
}
