.banner {
    background: #f9fafb;
    padding: 30px;
    border: 1px solid #dde5ed;
    box-sizing: border-box;

    a {
        margin-top: 10px;
        position: relative;
        display: block;
    }

    p {
        margin-bottom: 20px;
    }

    h4 {
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0 0 5px 0;
        font-weight: 600;
    }

    &__artists {
        margin-top: 30px;
    }
}
