// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
    position: relative;

    display: inline-block;

    height: 52px;
    margin: 0;
    padding: 14px 30px;

    cursor: pointer;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: 0.01em;
    text-transform: capitalize;

    color: white;
    border: 1px solid #edf5fc;
    border-radius: 6px;
    outline: none;
    background: transparent;
    box-shadow: none;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;

    touch-action: manipulation;
}

.btn button {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;

    x-appearance: none;
}


.btn {
    &__equal-width {
        display: flex;

        a,
        label {
            margin-right: 10px;

            flex: 1;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@include mq($until: mobile) {
    .btn__long-text {
        padding-right: 15px;
        padding-left: 15px;
        font-size: 14px;
        line-height: 1.7;
    }
}

.btn {
    &__smaller {
        padding: 11px 10px 13px;
        height: 42px;
        border-radius: 3px;
        font-size: 14px;
    }

    &__small {
        padding: 6px 10px;
        height: 32px;
        border-radius: 4px;
        font-size: 14px;

        &-wide {
            padding-right: 30px;
            padding-left: 30px;
        }
    }

    &__smallest {
        padding: 2px 8px 0;
        height: 26px;
        border-radius: 3px;
        font-size: 12px;
    }

    &__full-width {
        width: 100%;
    }

    &__primary {
        border-color: $mist-blue;
        background: linear-gradient(to bottom, #1f8ded 0%, #1985e3 100%);
        color: white;

        &.hover,
        &:hover {
            border-color: $mist-blue;
            background: linear-gradient(to bottom, #1280e0 0%, #0675d6 100%);
        }
    }

    &__secondary {
        border-color: $blue;
        color: $blue;

        &.hover,
        &:hover {
            border-color: $mist-blue;
            color: $mist-blue;
        }

        &-bigger {
            height: 42px;
        }
    }

    &__blue {
        border: 2px solid $bright-blue;
        background-color: $bright-blue;
        color: white;

        &.hover,
        &:hover {
            border-color: #3f40ff;
            background-color: #3f40ff;
        }
    }

    &__grey {
        border: 1px solid #E8E8E8;
        background-color: lighten($grey, 60%);
        color: $grey;
        text-transform: none;

        &.hover,
        &:hover {
            border: 1px solid #E8E8E8;
            background-color: lighten($grey, 50%);
        }
    }
}
