// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
    position: relative;
    height: 46px;
    min-width: 80px; // padding: 14px 30px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: .2px;
    text-transform: uppercase;
    border-width: 0px;
    border-radius: 2px;
    outline: none;
    background: transparent;
    box-shadow: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    touch-action: manipulation;
    -webkit-font-smoothing: antialiased;
}

.btn button {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    x-appearance: none;
}

.btn {
    &__equal-width {
        display: flex;
        a,
        label {
            margin-right: 10px;
            flex: 1;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@include mq($until: mobile) {
    .btn__long-text {
        padding-right: 15px;
        padding-left: 15px;
        font-size: 14px;
        line-height: 1.7;
    }
}

.btn {
    &__smaller {
        padding: 11px 10px 13px;
        height: 42px;
        border-radius: 3px;
        font-size: 14px;
    }
    &__small {
        padding: 6px 10px;
        height: 32px;
        border-radius: 4px;
        font-size: 14px;
        &-wide {
            padding-right: 30px;
            padding-left: 30px;
        }
    }
    &__smallest {
        padding: 2px 8px 0;
        height: 26px;
        border-radius: 3px;
        font-size: 12px;
    }
    &__full-width {
        width: 100%;
    }
    &__primary {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 0px 15px;
        color: white;
        background-color: $orange;
        border-color: $orange;
        &.hover,
        &:hover {
            background-color: #c50;
            border-color: #c50;
        }
    }
    &__secondary {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 15px;
        padding-right: 36px;
        align-items: center;
        color: $black;
        box-shadow: 0 4px 8px 0 rgba(26, 26, 26, 0.07);
        transition: box-shadow .3s;
        &:hover {
            box-shadow: 0 6px 12px 0 rgba(26, 26, 26, .1);
        }
        &:hover .star {
            margin: 0 10px 0 8px;
        }
        .star {
            height: 20px;
            width: 20px;
            margin: 0 15px 5px 10px;
            position: absolute;
            right: 0;
            top: 0px;
            transition: all .2s;
        }
        &-bigger {
            height: 42px;
        }
    }
    &__blue {
        border: 2px solid $bright-blue;
        background-color: $bright-blue;
        color: white;
        &.hover,
        &:hover {
            border-color: #3f40ff;
            background-color: #3f40ff;
        }
    }
    &__grey {
        border: 1px solid #E8E8E8;
        background-color: lighten($grey, 60%);
        color: $grey;
        text-transform: none;
        &.hover,
        &:hover {
            border: 1px solid #E8E8E8;
            background-color: lighten($grey, 50%);
        }
    }
    &__green {
        background: #3dbe8b;
        background: -webkit-linear-gradient(#43c692, #39b885);
        background: linear-gradient(#43c692, #39b885);
        border: 1px solid #1f7c57;
        box-shadow: inset #4fd3aa 0 1px;
        color: white;
        position: relative;
        text-decoration: none;
        text-shadow: #1c8f3d 0 1px 0; // text-transform: uppercase;
        transition: background 150ms;
        &:hover {
            background: #2baa78;
            background: -webkit-linear-gradient(#33B481, #23A06E);
            background: linear-gradient(#33B481, #23A06E);
        }
    }
}