
[type="text"],
[type="email"],
[type="number"],
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    // background: #fafbfc !important;
    color: $black !important;
    border: 1px solid #999999 !important;
    font-size: 16px;
    padding: 16px 15px 14px !important;
    margin: 0;
    // border-radius: 6px;
    outline: none;
    box-shadow: none;
}

[type="text"],
[type="email"],
[type="number"] {
    height: 46px;
}

select {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $grey;
}

::-webkit-input-placeholder {
    color: #bbc8d3
  }

::-moz-placeholder {
    color: #bbc8d3
}

:-ms-input-placeholder {
    color: #bbc8d3
}

::placeholder {
    color: #bbc8d3
}



.input {
    &__no {
        &-radius-right {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0
        }
        &-radius-left {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0
        }

        &-border-right {
            border-right: 0;
        }
        &-border-left {
            border-left: 0;
        }
    }

    &__label {
        font-size: 12px;
        text-transform: uppercase;
        padding-bottom: 7px;
        letter-spacing: .1em;
        color: #919ca8;

        &.c__bright-blue {
            color: $bright-blue
        }
    }

    &__small {
        padding: 8px 10px 6px !important;
        height: 32px;
        border-radius: 4px;
        font-size: 12px;
    }

    &__medium {
        padding: 11px 15px 9px !important;
        width: 100%;
        font-size: 15px;

        &:not(textarea) {
            height: 42px;
        }
    }

    &__select {
        height: 42px;
        background-color: #fafbfc;
        border: 1px solid #dde5ed;
        border-radius: 6px;
        color: #2e2e7f;
        font-family: "Akkurat Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
        padding: 0 15px;
        width: 100%;

        &__budget {
            background-image: -webkit-linear-gradient(#fff, #fafbfc);
            background-image: -o-linear-gradient(#fff, #fafbfc);
            background-image: linear-gradient(#fff, #fafbfc);
            box-shadow: 0 2px 1px #e6e5e5;
            cursor: pointer;
        }
    }
}