
[type="text"],
[type="email"],
[type="number"],
textarea {
    font-family: "Akkurat Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fafbfc;
    color: $light-grey;
    border: 1px solid #dde5ed;
    font-size: 16px;
    padding: 16px 15px 14px;
    margin: 0;
    border-radius: 6px;
    outline: none;
    height: 52px;
    box-shadow: none;

    &.bright-blue {
        color: $bright-blue;
        border-color: $bright-blue;
        border-width: 2px;

        &::-webkit-input-placeholder { color: rgba($bright-blue, 0.7); }
        &:-ms-input-placeholder { color: rgba($bright-blue, 0.7); }
        &::placeholder { color: rgba($bright-blue, 0.7); }
    }

    &.error {
        border-color: $red;
    }
}



select {
    font-family: "Akkurat Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $grey;
}

::-webkit-input-placeholder {
    color: $light-grey;
}

:-moz-placeholder {
    color: $light-grey;
}

::-moz-placeholder {
    color: $light-grey;
}

:-ms-input-placeholder {
    color: $light-grey;
}

.input {
    &__small {
        padding: 8px 10px 6px;
        height: 32px;
        border-radius: 4px;
        font-size: 12px;
    }

    &__no {
        &-radius-right {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0
        }
        &-radius-left {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0
        }

        &-border-right {
            border-right: 0;
        }
        &-border-left {
            border-left: 0;
        }
    }

    &__label {
        font-size: 12px;
        text-transform: uppercase;
        padding-bottom: 7px;
        letter-spacing: .1em;
        color: #919ca8;

        &.c__bright-blue {
            color: $bright-blue
        }
    }
}
