.line {

    &__vertical {
        overflow: hidden;
        display: inline-block;
        background: url() repeat-y left top;
        background-size: 3px 100px;
        width: 4px;
    }


    &__horizontal {
        border-top: 1px solid #dde5ed;
        margin: 24px 0 44px 0;
    }
}
