
.link {
    color: $blue;
    cursor: pointer;
    text-decoration: none;

    &.hover, &:hover {
        color: $dark-blue;
    }

    &__slide {
        color: white;
        font-weight: 500;
        letter-spacing: .04em;
        padding-right: 30px;
        position: relative;
        display: inline-block;

        &:before, &:after {
            content: ' ';
            position: absolute;
            top: 50%;
            right: 0;
            display: block
        }

        &:before {
            border: 1px solid white;
            background: white;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            margin-top: -12px
        }

        &:after {
            border: 5px transparent solid;
            border-top-color: $blue;
            border-top-width: 8px;
            margin: -4px 6px 0 0
        }
    }

    &__hamburger {
        position: relative;
        display: inline-block;
        width: 25px;
        height: 2px;
        border-top: 2px solid $blue;
        -webkit-transition: border-color .1s;
        transition: border-color .1s;

        &:after, &:before {
            content: ' ';
            position: absolute;
            border-top: 2px solid $blue;
            height: 0;
            left: 0;
            right: 0;
            @include prefix(transition, transform .2s, webkit);
        }

        &:before {
            top: -8px
        }

        &:after {
            bottom: -6px
        }
    }

    &.link__hamburger-grey {
        border-top: 2px solid #dde5ed;

        &:after, &:before {
            border-top: 2px solid #dde5ed
        }
    }

    &.link__hamburger-dark-grey {
        border-top: 2px solid #b3c1ce;

        &:after, &:before {
            border-top: 2px solid #b3c1ce
        }
    }
}

.link__hamburger-close.link__hamburger-close, .nav__hamburger.active .link__hamburger {
    border-color: transparent
}

.link__hamburger-close.link__hamburger-close:before, .nav__hamburger.active .link__hamburger:before {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.link__hamburger-close.link__hamburger-close:after, .nav__hamburger.active .link__hamburger:after {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.link__hamburger-close.link__hamburger-dark-grey {
    border-top-width: 1px
}

.link__hamburger-close.link__hamburger-dark-grey:after, .link__hamburger-close.link__hamburger-dark-grey:before {
    border-top-width: 1px
}
