.slick {
    &-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        @include no-select;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent
    }

    &-list {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;

        &:focus {
            outline: none
        }

        @at-root .dragging#{&} {
            cursor: pointer;
            cursor: hand
        }
    }

    &-slider {
        &-track,
        &-list {
            @include prefix(transform, translate3d(0,0,0), webkit)
        }
    }

    &-track {
        position: relative;
        left: 0;
        top: 0;
        display: block;

        &:before, &:after {
            content: "";
            display: table
        }

        &:after {
            clear: both
        }

        .slick-loading & {
            visibility: hidden
        }
    }

    &-slide {
        float: left;
        height: 100%;
        min-height: 1px;
        display: none;

        [dir="rtl"] & {
            float: right;
        }

        img {
            display: block;
        }

        &.slick-loading img {
            display: none;
        }

        &.dragging img {
            pointer-events: none;
        }

        .slick-initialized & {
            display: block;
        }

        .slick-loading & {
            visibility: hidden;
        }

        .slick-vertical & {
            display: block;
            height: auto;
            border: 1px solid transparent
        }
    }
}


// Slick Slider Controls
.slick {
    &-arrow.slick-hidden {
        display: none
    }

    &-prev, &-next {
        position: absolute;
        display: block;
        height: 30px;
        width: 20px;
        line-height: 0px;
        font-size: 40px;
        cursor: pointer;
        background: transparent;
        color: transparent;
        top: 50%;
        @include prefix(transform, translate(0, -50%), webkit);
        padding: 0;
        border: none;
        outline: none;
        font-family: "Akkurat Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;

        &:before {
            color: $light-grey;
        }

        &:hover:before {
            color: $grey;
        }

        &.slick-disabled:before {
            opacity: 0.25;
        }

        @include mq($until: desktop) {
            display: none !important
        }
    }

    &-prev {
        left: -45px;

        &:before {
            content: "<"
        }
    }

    &-next {
        right: -45px;

        &:before {
            content: ">"
        }
    }

    &-dotted.slick-slider {
        margin-bottom: 10px
    }

    &-dots {
        position: absolute;
        bottom: 0;
        list-style: none;
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 100%;

        @include mq($from: wide) {
            display: none !important;
        }

        li {
            position: relative;
            display: inline-block;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;

            &.slick-active button {
                background-color: $grey;
            }
        }

        li button {
            border: 0;
            background: #DDE5ED;
            display: block;
            height: 10px;
            width: 10px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            cursor: pointer;
            border-radius: 50%;
            padding: 0;

            &:hover, &:focus {
                background-color: $grey;
            }
        }
    }
}
