.article {

    &__hero {
        padding: 40px 0 30px;
        color: #313030;
        text-align: center;

        &-title {
            margin: 0 auto;
            max-width: 1024px;
            font-size: 48px;

            @include mq($until: tablet) {
                font-size: 36px;
            }
            @include mq($until: mobile) {
                font-size: 22px;
            }
        }

        &-image {
            position: relative;
            margin-right: auto;
            margin-left: auto;
            max-width: 1404px;
            width: 100%;
        }
    }

    &__wrap {
        position: relative;
        z-index: 10;
        margin-top: -14%;
        padding: 40px 30px;
        background: #fff;

        @include mq($until: tablet) {
            padding: 30px 15px;
        }
    }

    &__inner {
        margin: 0 auto;
        max-width: 850px !important;

        p {
            font-size: 18px;
            line-height: 1.6;

            @include mq($until: mobile) {
                font-size: 15px;
            }
        }

        image,
        h2,
        h3,
        h4,
        p {
            margin: 1.65em 0;
        }

        &-title h2 {
            margin-top: 40px;
            color: #313030;
            font-size: 34px;
            font-weight: 400;

            @include mq($until: tablet) {
                font-size: 30px;
            }
            @include mq($until: mobile) {
                font-size: 22px;
            }
        }

        &-sub-title h3 {
            margin-top: 50px;
            color: #313030;
            font-size: 1.4em;
            font-weight: 400;
        }

        & blockquote {
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 20px;
            -webkit-margin-end: 20px;
            border-left: 0 !important;
        }
    }
}
