.contact {
    &__hero {
        &-textarea {
            height: 100px;
        }

        &-subheadline,
        &-employee {
            margin-left: 0;
            margin-right: 0;
        }

        &-error {
            margin-bottom: 30px
        }

        &-illustration {
            margin: -20px -150px 0 0;
            position: relative;
            z-index: 1
        }

        &-bg {
            position: absolute;
            left: 27%;
            top: 17%;
            max-width: none
        }

        @include mq($until: tablet) {
            &-subheadline {
                max-width: 450px;
                margin-left: auto;
                margin-right: auto
            }
        }
        @include mq($until: desktop) {
            &-illustration {
                margin-right: 0
            }

            &-bg {
                left: 11%;
                top: 28%;
                max-width: 100%
            }
        }
    }
}
