.customer {
    &__hero {
        overflow: hidden;
        padding-top: 0;

        @include mq($until: mobile) {
            &-logo {
                max-width: 100%
            }
        }
        @include mq($from: mobile, $until: tablet) {
            &-wrap {
                height: auto
            }
            &-wrap {
                margin: 60px 0 0 -20px;
                width: calc(100% + 40px);
            }
            &-text {
                margin: 0;
                padding: 40px 20px;
                width: 100%;
            }
            &-image {
                position: static;
                margin: 0;
                max-width: 100%
            }
        }
        @include mq($from: tablet, $until: desktop) {
            &-text {
                width: 55%
            }
            &-image {
                margin-right: -17%
            }
        }
        @include mq($from: wide) {
            &-image {
                margin-right: -10%
            }
            &-text {
                width: 55%
            }
            &-text-long {
                padding-right: 50px
            }
        }

        &-wrap {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-left: -120px;
            width: calc(100% + 240px);
            height: 555px;

            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
        }

        &-image {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            max-width: none;
        }

        &-text {
            position: relative;
            z-index: 2;
            display: flex;
            margin-top: 100px;
            padding: 40px 115px;
            width: 47%;
            background: $blue;
            color: white;

            flex: 1;
            align-items: center;
        }

        &-text-long {
            padding-right: 80px
        }

        &-logo-text {
            padding-right: 15px;
            min-width: 175px;
        }

        &-logo {
            max-width: 50%
        }
    }

    &__stats {
        padding: 50px 0;
        background: $mom-jeans;

        &-number {
            font-size: 40px
        }
    }

    &__detail {
        margin-bottom: 30px;
        padding: 22px 30px 21px;
        border: 1px solid $light-blue;
        border-radius: 5px;
        color: $light-grey;

        &-icon-wrap {
            position: relative;
            top: 2px;
            min-width: 25px;
        }

        &-product-name {
            font-size: 22px
        }

        &-product {
            transition: opacity .3s;

            .customer__detail-products:hover & {
                opacity: .4
            }
            .customer__detail-products:hover &:hover {
                opacity: 1
            }
        }
    }
}

.customer {
    &__article {
        max-width: 1140px;
        font-size: 18px;

        @include mq($until: desktop) {
            &-img {
                top: 0;
                margin: 50px 0
            }

            &-quote {
                margin: 60px auto;
                padding-top: 50px
            }
        }
        @include mq($until: tablet) {
            font-size: 16px;

            &-img {
                margin: 40px 0
            }

            &-quote {
                margin: 50px 0;
                min-height: 95px;
                background-size: 140px;
            }

            &-h3 {
                margin-top: 40px
            }
        }

        h2 {
            line-height: 1.73
        }

        p, li {
            line-height: 1.8;

            &:first-child {
                margin-top: 0
            }

            &:last-child {
                margin-bottom: 0
            }
        }

        &-h3 {
            margin: 60px 0 15px;
            color: $blue;
            text-align: left
        }

        &-opening {
            margin-top: -10px
        }

        &-content {
            margin: 0 auto;
            max-width: 650px;
        }

        &-img {
            display: inline-block;
            margin: 70px 0;

            &-negative {
                position: relative;
                top: -20px;
                margin: 0 0 38px
            }

            &-label {
                margin-top: 15px;
                color: $light-grey;
                text-align: center;
                font-size: 14px;
            }
        }
    }

    &__explore {
        padding: 40px 0;
        background: $mom-jeans;
    }

    &__card {
        position: relative;
        display: flex;
        overflow: hidden;
        box-sizing: border-box;
        padding: 30px;
        outline: none;
        border: 1px solid $lightsky-blue;
        border-radius: 6px;
        background: #fefeff;
        text-decoration: none;
        opacity: 1;
        transition: box-shadow .5s;

        flex: 1;
        @include mq($until: desktop) {
            padding: 20px;
        }

        &:hover {
            box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25)
        }

        &-photo img {
            width: 100%
        }

        &-desc {
            margin: 0;
            font-size: 14px;
            transition: opacity .2s, transform .3s;
            transition: opacity .2s, transform .3s, -webkit-transform .3s;
        }

        &-desc-hover {
            position: absolute;
            top: 90px;
            right: 0;
            left: 0;
            opacity: 0;
            transform: translate(0, -30px);

            &:before {
                position: absolute;
                margin-left: -7px;
                content: '“';
            }

            &:after {
                content: '”'
            }

            .customer__card:hover & {
                opacity: 1;
                transform: translate(0, 0);
            }
        }

        &-desc-no-hover {
            .customer__card:hover & {
                opacity: 0
            }
        }

        &-read {
            margin: auto 0 0
        }

        &-photo {
            transition: opacity .2s linear;

            .customer__card:hover & {
                opacity: 0
            }
        }

        &-logo {
            margin: 20px 0;
            height: 40px;
            transition: opacity .2s, transform .3s;
            transition: opacity .2s, transform .3s, -webkit-transform .3s
        }

        &-logo-hover {
            position: absolute;
            top: 0;
            opacity: 0;
            transition: opacity .2s linear;

            .customer__card:hover & {
                opacity: 1;
                transform: translate(0, 0);
            }
        }

        &-logo-no-hover {
            display: flex;

            align-items: center;

            .customer__card:hover & {
                opacity: 0;
            }
        }
    }

    &__similar {
        &-items {
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            max-width: 1014px;
            text-decoration: none;

            flex: 0 1 auto;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-wrap: wrap;
        }
    }

    &__micro {
        padding: 60px;
        background-position: center center;
        background-size: 100% 100%;
        background-repeat: no-repeat;

        flex: 1;
        @include mq($until: desktop) {
            padding: 40px
        }
        @include mq($until: tablet) {
            padding: 20px 0
        }

        &-h5 {
            max-width: none
        }
    }

    &__large {
        &-bg {
            position: absolute;
            right: 0;
            left: 0;
            z-index: 0;
            margin-top: -500px;
            height: 1080px;
            background: url(http://localhost/xe/wp-content/uploads/2017/04/bg-2-xlg.jpg) no-repeat center top;
            background-size: 2450px 100%;

            @include mq($until: desktop) {
                background-image: url(http://localhost/xe/wp-content/uploads/2017/04/bg-2-lg.jpg);
                background-size: 1024px 100%
            }
            @include mq($until: tablet) {
                background-image: url(http://localhost/xe/wp-content/uploads/2017/04/bg-2-md.jpg);
                background-size: 767px 100%
            }
            @include mq($until: mobile) {
                background-image: url(http://localhost/xe/wp-content/uploads/2017/04/bg-2-sm.jpg);
                background-size: 820px 100%
            }
        }
    }
}


.customers {
    &__list {
        display: flex;
        -ms-flex-direction: row;
        text-decoration: none;

        flex: 0 1 auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-wrap: wrap;
        @include mq($until: desktop) {
            // margin: -40px -20px 0;

            &-item {
                padding: 40px 15px 0
            }

            &-logo {
                padding-top: 50px
            }
        }
        @include mq($until: tablet) {
            &-item {
                min-width: 50%;
                width: 50%;

                flex-basis: 50%;

                &-wide {
                    min-width: 100%;
                    width: 100%;

                    flex-basis: 100%
                }
            }

            &-logo {
                padding-top: 20px
            }
        }
        @include mq($until: mobile) {
            &-item {
                padding: 40px 0px 0;
                min-width: 100%;
                width: 100%;

                flex-basis: 100%;
            }

            &-filter {
                display: block
            }

            &-logo {
                padding-top: 0
            }
        }

        &-container {
            margin-right: auto;
            margin-left: auto;
            padding: 0 15px;
            max-width: 1194px;
        }

        &-item {
            display: flex;
            padding: 70px 15px 0;
            min-width: 33.33%;
            width: 33.33%;
            transition: opacity .3s linear;

            flex-basis: 33.33%;
            @include mq($until: desktop) {
                padding: 40px 15px 0;
            }
            @include mq($until: tablet) {
                min-width: 50%;
                width: 50%;

                flex-basis: 50%;
            }
            @include mq($until: mobile) {
                min-width: 100%;
                width: 100%;

                flex-basis: 100%;
            }

            &-wide {
                min-width: 66.66%;
                width: 66.66%;

                flex-basis: 66.66%
            }
        }

        &-logo {
            display: flex;
            opacity: 0.4;
        }

        &-filter {
            margin: 3px 20px 0 0;
            white-space: nowrap
        }
    }

    &__quote {
        @include mq($until: desktop) {
            &-control-prev {
                left: -20px
            }

            &-control-next {
                right: -20px
            }

            &-bubble {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 290px;
                background: none
            }

            &-content {
                margin: 0 auto;
                padding: 0 40px;
                min-height: 260px;
                max-width: 700px;
                width: 100%;
            }

            &-globe {
                display: none
            }
        }
        @include mq($until: tablet) {
            &-bubble {
                padding: 0;
                width: auto;
                height: auto;
            }

            &-content {
                margin: 0;
                padding: 0;
                min-height: 0;
                width: 100%;
                background-size: 150px;

                &:before {
                    left: 0
                }
            }
        }
        &-content {
            position: relative;
            margin-left: 110px;
            padding-top: 20px;
            min-height: 350px;
            max-width: 100%;
            width: 560px;
        }

        &-control {
            &-prev, &-next {
                color: $light-grey;
                font-size: 50px
            }

            &-prev:hover, &-next:hover {
                color: $grey
            }

            &-prev {
                left: -120px
            }

            &-next {
                right: -120px
            }
        }
    }
}
