.pricing {
    &__container {
        max-width: 1128px;
        padding-left: 0;
        padding-right: 0;

        @include mq($until: tablet) {
            padding: 0 40px
        }
        @include mq($until: mobile) {
            padding: 0 20px
        }
    }

    &__row {
        margin-left: -12px;
        margin-right: -12px;

        @include mq($until: desktop) {
            margin-left: -40px;
            margin-right: -40px
        }
        @include mq($until: mobile) {
            margin-left: -20px;
            margin-right: -20px
        }
    }

    &__column {
        padding-left: 20px;
        padding-right: 20px;

        @include mq($until: tablet) {
            margin-left: 40px;
            margin-right: 40px
        }
        @include mq($until: mobile) {
            margin-left: 20px;
            margin-right: 20px
        }
    }

    &__option {
        background-color: white;
        border: 1px solid #dde5ed;
        border-radius: 6px;
        display: block;
        padding: 24px
    }

    &__option__packaging {
        border-radius: 0;
        padding: 30px;
        min-height: 262px;
        @include flexbox;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        @include flex-direction(column);

        @include mq($until: mobile) {
            padding: 20px;
        }
    }

    &__product__hero__wrapper {
        max-height: 240px
    }

    &__option__bundle {
        overflow: hidden;
        padding: 36px;
        height: 284px;
        max-width: 792px;
        margin-left: auto;
        margin-right: auto;

        @include mq($until: tablet) {
            background-size: 75%;
            height: 300px;
            padding: 24px
        }
        @include mq($until: mobile) {
            background-size: contain;
            padding: 15px
        }

        &-packaging {
            position: relative;
            height: auto;
            overflow: visible;
            max-width: 560px;
        }
    }

    &__support {
        &-solution-bundle {
            background-image: url(https://marketing.intercomassets.com/assets/pricing/pricing_support_solution-c3cadb1c83ef3df1348325030f5c34e097de2b7332ff0b6fc92e70a06f6cd14f.png)
        }
    }

    @include mq($until: mobile) {
        &__bundle__branding {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            @include flex-direction(column);
            -webkit-box-align: start;
            -ms-flex-align: start;
            -ms-grid-row-align: flex-start;
            align-items: flex-start
        }
    }

    &__product__hero {
        position: relative;
        display: block
    }

    &__product__illustration {
        display: inline-block
    }

    &__product__description {
        display: inline-block;
        max-width: 360px
    }

    &__all-products-icon {
        display: inline-block;
        margin-right: 10px
    }
}

.bundle {
    &__view__pricing__wrapper {
        vertical-align: middle
    }

    &__view__pricing__wrapper>button {
        margin-right: 10px
    }

    &__view__pricing__wrapper>p {
        color: $light-grey;
        display: inline-block;
        margin: 0;
        line-height: 32px
    }

    &__view__pricing__wrapper span.strike_out {
        text-decoration: line-through
    }

    &__cta {
        padding-top: 0;

        &-bg {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 0;
            margin-top: -575px;
            height: 1050px;
            background: url(http://localhost/xe/wp-content/uploads/2017/04/bg-2-xlg.jpg) no-repeat center top;
            background-size: 3500px 100%;

            @include mq($until: desktop) {
                background-image: url(http://localhost/xe/wp-content/uploads/2017/04/bg-2-lg.jpg);
                background-size: 1024px 100%
            }
            @include mq($until: tablet) {
                background-image: url(http://localhost/xe/wp-content/uploads/2017/04/bg-2-md.jpg);
                background-size: 767px 100%
            }
            @include mq($until: mobile) {
                background-image: url(http://localhost/xe/wp-content/uploads/2017/04/bg-2-sm.jpg);
                background-size: 820px 100%
            }
        }

        &-arrow {
            position: absolute;
            left: -160px;
            right: 0;
            z-index: 1;
            margin-top: 145px;
            height: 80px;
            background: url(http://localhost/xe/wp-content/uploads/2017/04/pricing-arrow-right.svg) no-repeat center top;
            background-size: 150px 50%;
        }
    }
}

.product {
    &__pricing__button {
        margin-right: 40px;

        @include mq($until: desktop) {
            margin-right: 11px
        }
        @include mq($from: tablet) {
            margin-right: 0
        }
    }

    &-icon__smaller {
        margin-bottom: 2px;

        polygon {
            fill: #1f8ceb !important;
        }
    }
}


.pricing {
    &__bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 360px;
        height: 100%;
        z-index: 0;
        background: url(https://marketing.intercomassets.com/assets/platform/bg/bg-2-035de37638ff5dedbf93b5b0b13396a7cddf9233397258ee591a1165e5052135.jpg) no-repeat center top;
        background-size: 2450px
    }

    &__platform_cta {
        font-size: 16px;
        max-width: 792px;
        margin-left: auto;
        margin-right: auto
    }

    &__from__price {
        display: inline-block;
        padding: 0 18px;
        background-color: $white;
    }

    &__cell__left {
        margin-left: 12px
    }

    &__cell__right {
        margin-right: 12px
    }
}

.flip {
    &-vert {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
    }

    &-horizontal {
        img {
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
    }
}
