
.c {

    /* `Blue Tones`
       ========================================================================== */
    &__bright-blue {
        color: $bright-blue;
    }
    &__dark-blue {
        color: $dark-blue;

        @media (max-width: 480px) {
            &--sm {
                color: $dark-blue;
            }
        }
        @media (min-width: 481px) and (max-width: 767px) {
            &--md {
                color: $dark-blue;
            }
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            &--lg {
                color: $dark-blue;
            }
        }
        @media (min-width: 1025px) {
            &--xlg {
                color: $dark-blue;
            }
        }
    }
    &__blue {
        color: $blue;

        @media (max-width: 480px) {
            &--sm {
                color: $blue;
            }
        }
        @media (min-width: 481px) and (max-width: 767px) {
            &--md {
                color: $blue;
            }
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            &--lg {
                color: $blue;
            }
        }
        @media (min-width: 1025px) {
        &
                color: $blue;
            }
        }
    }
    &__cs2-blue {
        color: $cs2-blue;
    }
    &__sky-blue {
        color: $sky-blue;
    }
    &__light-blue {
        color: $light-blue;
    }


    /* `Grey Tones`
       ========================================================================== */
    &__dark-grey {
        color: #344358;
    }
    &__hazy-grey {
        color: #556474;
    }
    &__grey {
        color: #637280;
    }
    &__light-fog {
        color: #96a2b0;
    }
    &__light-grey {
        color: #8da2b5;
    }
    &__gray-mist {
        color: #f9fafb;
    }


    /* `Whites`
       ========================================================================== */
    &__mon-jeans {
        color: #f6fafd;
    }
    &__white {
        color: #fff;
    }


    /* `Other Colors`
       ========================================================================== */
    &__red {
        color: #e04e50;
    }
    &__purple {
        color: #051666;

        @media (max-width: 480px) {
            &--sm {
                color: $purple;
            }
        }
        @media (min-width: 481px) and (max-width: 767px) {
            &--md {
                color: $purple;
            }
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            &--lg {
                color: $purple;
            }
        }
        @media (min-width: 1025px) {
            &--xlg {
                color: $purple;
            }
        }
    }
    &__light-green {
        color: #0ff2bc;
    }
}
