/// colors

// Blue tints
$bright-blue:   #001ce8;
$dark-blue:     #2e2e7f;
$mist-blue:     #1271c4;
$blue:          #1f8ceb;
$cs2-blue:      #35cfff;
$sky-blue:      #b1d2ef;
$lightsky-blue: #dde5ed;
$light-blue:    #b9dcfa;

// Grey tones
$dark-grey:     #344358;
$hazy-grey:     #556474;
$grey:          #637280;
$light-fog:     #96a2b0;
$light-grey:    #8da2b5;
$gray-mist:     #f9fafb;

// whites
$mom-jeans:     #f6fafd;
$white:         #fff;

// Other colors
$red:           #e04e50;
$purple:        #051666;
$light-green:   #0ff2bc;
$green:         #2db973;
$green-mist:    #73b79a;
